#filler {
    height: 600px;
    padding: 0;
    background: #33032F;
}

.homepage {
    background: #33032F;
    color: white;
    border-style: solid;
    border-width: 25px;
    border-color: #33032F;
    padding: 0;
    margin: 0;
}

.fullheight{
    min-height: 150vh;
    min-width: 100%;
}

.card {
    --bs-card-bg: #000000;
    box-shadow: 10px gray;
    width: 50%;
    margin: auto;
    width: 50%;
}
.card-img-top {
    z-index: 0;
}
.gamelink {
    color: white;
    text-align: center;
    box-shadow: 5px gray;
}

.available {
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
}

.intro {
    text-align: center;
}
