.navi{
    background-color: #F76C6C;
    color: white;
    /* border-bottom: solid 2px #259c45; */
    
}

a {
    color:#A0ACAD
}

.modal-content {
    background-color: #374785;
    border: solid 2px #f8e9a1;
    color: white;
}

.modal-header {
    border-bottom: solid 2px #f8e9a1;
}

#react-aria1598171891-2-tab-login {
    color: #f8e9a1;
}


.nav-link {
    color: white;
    --bs-nav-pills-link-active-bg: #f8e9a1;
}
