.map {
    width: 100%;
    height: auto;
}

.mapimg {
    max-width: 100%;
    height:auto;
    z-index: -1;
    position: absolute
}

svg {
    z-index: 1;
    max-width: 100%;
    height: auto;
}

#titleTimer {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}